<div class="inner-content">
  <div class="poi-detail-page">
    <div class="poi-detail-header">
      <div class="poi-detail-header-data">
        <div class="poi-detail-header-data-icon">
          <ion-icon [name]="info.icon"></ion-icon>
        </div>
        <div class="poi-detail-header-data-text">
          {{info.name}}
        </div>
      </div>
      <div class="poi-detail-header-close">
        <ion-icon name="close" (click)="closeModal()"></ion-icon>
      </div>
    </div>
  </div>
</div>
