<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sensor tests
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h3>Device acceleration</h3>
    <ul>
      <li>x: {{ deviceMotionData['x'] }}</li>
      <li>y: {{ deviceMotionData['y'] }}</li>
      <li>z: {{ deviceMotionData['z'] }}</li>
    </ul>
    <h3>Device orientation</h3>
    <ul>
      <li>magneticHeading: {{ deviceOrientationData['magneticHeading'] }}</li>
      <li>trueHeading: {{ deviceOrientationData['trueHeading'] }}</li>
      <li>headingAccuracy: {{ deviceOrientationData['headingAccuracy'] }}</li>
    </ul>
    <h3>Shake</h3>
    <ul>
      <li>Trigger: {{ shakeTrigger }}</li>
    </ul>
  </div>
</ion-content>
