<div class="home-page home-page-search">
  <div class="home-icon">
    <img src="../../../assets/icon/icon.svg">
  </div>
  <div class="home-search">
    <div class="home-search-bar">
      <ion-searchbar class="npi-searchbar" placeholder="Escriba para buscar..." (ionChange)="search($event.target.value)" showClearIcon="always" clearIcon="close-outline"></ion-searchbar>
    </div>
    <div class="home-speech-recognition">
      <strong>Recognized: </strong>
      <span>{{message}}</span>
      <br>
      <strong>Is recording: </strong>
      <span>{{isRecording}}</span>
    </div>
    <div class="home-search-results" *ngIf="searchShow.length > 0">
      <div class="result-box">
        <div class="result-item ion-activatable ripple-parent" *ngFor="let item of searchShow; let i = index"
          [ngClass]="{'result-item-last':i===searchShow.length-1}" (click)="openPoi(item.id)">
          <div class="result-item-icon"><ion-icon [name]="item.icon"></ion-icon></div>
          <div class="result-item-texts">
            <div class="result-item-texts-left">
              <div class="result-item-texts-left-head">{{item.type}}</div>
              <div class="result-item-texts-left-main">{{item.name}}</div>
            </div>
            <div class="result-item-texts-right">
              <div class="result-item-texts-right-element result-item-texts-right-first">
                <div class="result-item-texts-right-small">ED.</div>
                <div class="result-item-texts-right-big">{{item.building}}</div>
              </div>
              <div class="result-item-texts-right-element result-item-texts-right-second">
                <div class="result-item-texts-right-small">PL.</div>
                <div class="result-item-texts-right-big">{{item.floor}}</div>
              </div>
            </div>
          </div>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </div>
      </div>
    </div>
  </div>
</div>

<ion-fab (click)="startSpeechRecognition()" vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button [color]="isRecording ? 'danger' : 'warning'">
    <ion-icon name="mic"></ion-icon>
  </ion-fab-button>
</ion-fab>
